services:
  api:
    build:
      context: .
      dockerfile: Santander.BestStories/Dockerfile
    ports:
      - "8080:80"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    restart: unless-stopped
    networks:
      - app-network




networks:
  app-network:
    driver: bridge
